.App {
  text-align: center;
}

.label-style {
  margin-top: 10px;
  font-size: 24px;
}
.door-label {
  position: absolute;
  top: 560px;
  left: 41px;
  width: 200px;
  margin-left: 6px;
  font-size: 24px;
}
.box {
  transform: scale(2.0);
  position: absolute;
  top: 566px;
  left: 148px;
}

.iter {
  position: absolute;
  top: 515px;
  left: 140px;
  width: 150px;
  margin-left: 6px;
  font-size: 24px;
}
.itlabel {
  position: absolute;
  top: 515px;
  left: 20px;
  width: 200px;
  margin-left: 6px;
  font-size: 24px;
}
.mh-header {
  margin-left: 6px;
  position: absolute;
  top: 445px;
  left: 20px;
}
.button-style {
  position: absolute;
  top: 610px;
  left: 10px;
  padding: 10px;
  margin-left: 20px;
  font-size: 24px;
  border-radius: 8px;
  padding: 5 20;
  background-color: #bd735b;
}

.result-row-1 {
  color: black;
  position: absolute;
  top: 580px;
  left: 240px;
  font-size: 20px;
}
.result-row-2 {
  color: black;
  position: absolute;
  top: 590px;
  left: 240px;
  font-size: 36px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
